@page
@model IndexModel
@{
    ViewData["Title"] = "SupportApi Demo Service";

    string GetVersionString(Type t)
    {
        Version version = t.Assembly.GetName().Version;

        string versionString = $"{version.Major}.{version.Minor}.{version.Build}";

        if (version.Revision > 0)
        {
            versionString += $"-{version.Revision}";
        }
        return versionString;
    }
}
<h1>
    SupportApi Demo Service (ASP.NET Core) v@(GetVersionString(typeof(GrapeCity.Documents.Pdf.ViewerSupportApi.Controllers.GcPdfViewerController))) (DsPdf v@(GetVersionString(typeof(GrapeCity.Documents.Pdf.GcPdfDocument))))
</h1>
<p>
    Support API is a server-side ASP.​NET Core library that ships as C# source code with DsPdf,
    and allows to easily set up a server that uses DsPdf to provide PDF modification features to DsPdfViewer.
</p>
<p>
    When connected to Support API, DsPdfViewer can be used as a PDF editor to save filled PDF forms,
    remove sensitive content, edit annotations and forms, and more.
</p>
<p>
    <a target="_blank" href="/api/pdf-viewer/version?token=support-api-demo-net-core-token">Click here to check the SupportApi/DsPdf version.</a>
</p>
<p>
    <a href="https://www.grapecity.com/documents-api-pdfviewer/demos/product-bundles/assets/WebApi.zip">Download the SupportApiService project (.zip).</a>
</p>
<p>
    <h3>Viewer configuration example</h3>
    <pre>
        function loadPdfViewer(selector) {
            //DsPdfViewer.LicenseKey = 'your_license_key';
            var viewer = new DsPdfViewer(selector, {
                supportApi: {
                    apiUrl: '@(HttpContext.Request.Scheme)://@(HttpContext.Request.Host)/api/pdf-viewer',
                    webSocketUrl: '@(HttpContext.Request.Scheme)://@(HttpContext.Request.Host)/signalr'
                }
            });
            viewer.addDefaultPanels();
            viewer.addAnnotationEditorPanel();
            viewer.addFormEditorPanel();
        }
    </pre>
</p>