html {
  font-family: "Segoe UI", Tahoma, sans-serif;
  font-size: 81.25%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

.container {
  padding: 1rem;
  overflow-y: auto;
}
