html {
  font-family: "Segoe UI", Tahoma, sans-serif;
  font-size: 81.25%;
}

body {
  display: flex;
  flex-direction: row;
  height: 100vh;
  margin: 0;
}

.container {
  padding: 1rem;
  overflow-y: auto;
  flex: auto;
}

.sidebar {
  background-color: gray;

  > nav {
    inline-size: 16rem;

    ul {
      list-style: none;
    }
  }
}
