html body {
  margin: 0;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100vh;
}

ul {
  list-style: none;

  > li {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: tomato;
    height: 100px;
    width: 100px;
    margin-top: 5px;
  }
}

#draggable-element {
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 50px;
  width: 50px;
  cursor: pointer;
}
